{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock head %}

{% block content %}
    <div class="info"> 
        <p>Come and be part of our team, <br> become an excellent student!!  <br>even in quarantine.</p>
        <img src="/icons/indexImg.svg" alt="">
    </div>   
{% endblock content %}