{% extends "layout.njk" %}

{% block head %}
    <title>Clases - teachers</title>
    <link rel="stylesheet" href="/styles/teachers.css">
{% endblock head %}

{% block content %}
    <div class="card">
        <section
            class="avatar"
            style="background: url(https://source.unsplash.com/collection/10553730/500x500) no-repeat center center/ cover"></section>
        
        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome</div>
                <div>Matheus Anderson Lascalla Gomes</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>20 anos</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Ensino superior</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>Distância</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Matemática</span>
                    <span>Física</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>04/11/2018</div>
            </div>
        </section>
    </div>
{% endblock content %}