body {
    padding: 0px 200px;
    font-family: 'Roboto', sans-serif;
    background-color: #3AAFA9;
}

.card {
    background-color: #DEF2F1;
    width: 90%;
    min-height: 600px;


    margin: 20px auto;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;

    box-shadow: 2px 2px 8px -1px #777;
    animation: box 500ms ease-out;
}
@keyframes box {
    from{
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
    }
}
.details{
    padding: 30px 30px;
}

.details .item {
    padding: 18px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child{
    border: none;
}

h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
} 

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #2B7A78 ;

    font-size: 16px;
}

.details .item span {
    padding: 8px 16px;
    background-color: #3AAFA9;

    color: #555;
    border-radius: 16px;

    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
}
