:root {
    --background-color-card:#DEF2F1;
    --background-color:#3AAFA9
}


body {
    padding: 0px 200px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.card {
    background-color: var(--background-color-card);
    width: 90%;
    min-height: 600px;


    margin: 10px auto;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;

    box-shadow: 2px 2px 8px -1px #777;
    animation: box 500ms ease-out;
}
@keyframes box {
    from{
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 1;
    }
}
.details{
    padding: 20px 30px;
}

.details .item {
    padding: 16px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.details .item:last-child{
    border: none;
}

h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
} 

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #2B7A78 ;

    font-size: 16px;
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--background-color);

    color: #555;
    border-radius: 16px;

    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
}


/* FORM */

input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    

    background-color: var(--background-color-card);
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

select {
    background-color:var(--background-color-card);

    color: #555;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

button,
a.button {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--background-color);
    color: #555;
    margin-top: 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}

a.button {
    display: block;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;

    
}

.delet {
    background-color: rosybrown;
    cursor: pointer;
}

/* INDEX TEACHERS */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
   border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1) ;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    padding: 0;
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 4px 6px -4px black;
    border: 1px solid white;
}

tbody tr td span {
    padding: 8px 16px;
    background-color: var(--background-color);

    color: #555;
    border-radius: 16px;

    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
}

tbody tr td:last-child a {
    background-color: var(--background-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    font-size: 14px;
    border-radius: 16px;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

thead tr th {
    font-size: 18px;
}

