{% extends "layout.njk" %}


{% block head %}
    <title>{{id}}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
{% endblock head %}
    

{% block content %}
    <iframe src="https://rocketseat.com.br/{{id}}" frameborder="0"></iframe>
{% endblock content %}
    