{% extends "layout.njk" %}


{% block head %}
    <title>Not-found</title>
{% endblock head %}

{% block content %}
    <div class="wrapper"><h1>Erro 404 -- Page not found, please try again</h1></div>
{% endblock content %}

