{% extends "layout.njk" %}

{% block head %}
    <title>Teacher - show</title>
    <link rel="stylesheet" href="/styles/teachers.css">
{% endblock head %}

{% block content %}
    <div class="card">
        <section
            class="avatar"
            style="background: url({{teacher.avatar_url}}) no-repeat center center/ cover"></section>
        
        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome</div>
                <div>{{teacher.name}}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{teacher.age}}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>{{teacher.escolaridade}}</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>{{"Presencial" if teacher.tipo_aula == "P" else "Distância"}}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for materia in teacher.materia %}
                        <span>{{materia}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{teacher.created_at}}</div>
            </div>

            <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a>

        </section>
    </div>
{% endblock content %}